$pageBackground: #f0f2f5;
$primaryColor: rgb(50, 88, 123);
$fontXLarge: 2rem;

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: $fontXLarge;
    color: $primaryColor;
    margin-bottom: 20px;
    text-align: center;
  }
}
