.wrapper {
  width: fit-content;
  height: fit-content;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.svg {
  display: block;
  width: 1000px;
  height: 500px;
}

.node:hover {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.inner-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}