.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  // Podrazumevana pozadina dugmeta
  background-color: rgba(50, 88, 123, 1);
  color: white; // Podrazumevana boja teksta
  font-size: 16px;
  border-radius: 5px;

  &:hover {
    opacity: 0.9; // Blago smanjenje vidljivosti
    transform: scale(1.05); // Lagano povećanje
  }

  &:active {
    transform: scale(0.95); // Lagano smanjenje veličine
    background-color: rgba(30, 70, 100, 1); // Tamnija nijansa za active stanje
  }

  &:focus {
    outline: 2px solid rgba(255, 255, 255, 0.5); // Fokus efekat
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #ccc; // Siva boja za onemogućeno dugme
    opacity: 0.6;
  }
}
